[Unit]
Description=Chat APP
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/app.py
WorkingDirectory=/home/ubuntu
User=ubuntu
Restart=always
RestartSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target